@{
    ViewData["Title"] = "Account Type";
}

@model List<AccountType>

<div class="d-flex flex-column gap-5">

    <div class="shadow-all-sides p-3 d-flex flex-column align-items-center gap-3">

        <div class="d-flex justify-content-between border-bottom pb-2 w-100">
            <div class="d-flex gap-2 align-items-center">
                <i class="fs-6 bi-person-badge"></i> 
                Account Type
            </div>
            <i class="fs-5 bi-fullscreen"></i> 
        </div>


        <div class="d-flex flex-row justify-content-between w-100">

            <div class="d-flex flex-column">
                <button class="bg-primary text-white p-2 rounded" id="openAddAccountModal" style="border: none">
                <i class="fs-6 bi-plus"></i> 
                    Add New Account Type
                </button>
            </div>

            <form class="form-group d-flex flex-row" asp-controller="AccountType" asp-action="Index" method="get">
                <input type="text" name="search" placeholder="Search by title." class="form-control" style="width: 300px;"/>
                <button class="border bg-white">
                    <i class="bi bi-search"></i>
                </button>
            </form>

        </div>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show w-100 m-0" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show w-100 m-0" role="alert">
                @TempData["ErrorMessage"]
                <button type = "button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        <table class="table table-striped" style="width: 100%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th class="font-small" scope="col" style="width: 40px;">#</th>
                    <th class="font-small" scope="col">Title</th>
                    <th class="font-small" scope="col">Description</th>
                    <th class="font-small" scope="col" style="width: 400px">Menu</th>
                    <th class="font-small" scope="col">Status</th>
                    <th class="font-small text-center" scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @if (Model !=null && Model.Any())
                {
                    @foreach (var accountType in Model){
                        <tr>
                            <td class="font-small" scope="row">@accountType.Account_Type_ID</td>
                            <td class="font-small">
                                @accountType.Title
                            </td>
                            <td class="font-small">
                                @accountType.Description
                            </td>
                            <td class = "font-small">
                                @foreach (var menu in accountType.Menu.Split(','))
                                {
                                    <div class="bg-success text-white px-2 d-inline rounded-pill">@menu.Trim()</div>
                                }
                            </td>
                            <td class="font-small text-center">
                                <div class="bg-success text-white px-2 d-inline rounded-pill">Active</div>
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-gear"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-item openEditAccountModal"
                                                data-id="@accountType.Account_Type_ID">
                                                <i class="bi bi-pencil-fill"></i> Edit
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item openDeleteAccountModal"
                                                data-id="@accountType.Account_Type_ID">
                                                <i class="bi bi-trash-fill"></i> Delete
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                } else 
                {
                    <tr>
                        <td colspan="6" class="text-center text-muted">No Account Type found.</td>
                    </tr>
                }
            </tbody>
        </table>  


        <nav aria-label="Account Type Pagination">
            <ul class="pagination">
                <li class="page-item @(ViewBag.Window == 1 ? "disabled" : "")">
                    <a class="page-link" 
                        asp-action="Index"
                        asp-route-page="@((ViewBag.StartPage - 5) > 0 ? ViewBag.StartPage - 5 : 1)"
                        asp-route-window="@(ViewBag.Window - 1)"
                        asp-route-search="@ViewBag.Search">
                        Previous
                    </a>
                </li>

                @for (int i = ViewBag.StartPage; i <= ViewBag.EndPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class = "page-link"
                            asp-action="Index"
                            asp-route-page="@i"
                            asp-route-window="@ViewBag.Window"
                            asp-route-search="@ViewBag.Search">
                        @i
                        </a>
                    </li>
                }

                <li class="page-item @(ViewBag.EndPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" 
                        asp-action="Index"
                        asp-route-page="@((ViewBag.EndPage + 1) <= ViewBag.TotalPages ? ViewBag.EndPage + 1 : ViewBag.TotalPages)"
                        asp-route-window="@(ViewBag.Window + 1)"
                        asp-route-search="@ViewBag.Search">
                        Next
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</div>



<div id="addAccountContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openAddAccountModal");
        const container = document.getElementById("addAccountContainer");

        button.addEventListener("click", function (){
            fetch("/AccountType/AddAccount")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("addAccountModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                })
        })
    })
</script>



<div id="editAccountContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openEditAccountModal");
        const container = document.getElementById("editAccountContainer");

        button.forEach(button => {
            button.addEventListener("click", function (){
                const accountId = this.getAttribute("data-id");

            fetch(`/AccountType/EditAccount?id=${accountId}`)
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("editAccountModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                })
             })
         })
    })
        
        
</script>


<div id="deleteAccountContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openDeleteAccountModal");
        const container = document.getElementById("deleteAccountContainer");

        button.forEach(button => {
            button.addEventListener("click", function (){
                const accountId = this.getAttribute("data-id");

                fetch(`/AccountType/DeleteAccount?id=${accountId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal =document.getElementById("deleteAccountModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show();
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    })
            })
        })
    })
</script>





