@{
    Layout = null;
};


<!-- Confirm Payment Modal -->
<div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Confirm Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="POS" asp-action="SubmitOrder" method="post" enctype="multipart/form-data">

                <div class="modal-body d-flex flex-column align-items-center p-2 gap-2">
                    @* Customer ID *@
                    <input type="hidden" name="CustomerID" id="CustomerID" value="@Model.CustomerID" />

                    @* User ID *@
                    <input type="hidden" name="SelectedUserID" id="SelectedUserID" value="@Model.SelectedUserID" />

                    @* Service *@
                    <input type="hidden" name="SelectedService" id="SelectedService" value="@Model.SelectedService" />

                    @* Date *@
                    <input type="hidden" name="Date" value="@Model.Date" />

                    @* ITEMS *@
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <input type="hidden" name="Items[@i].ItemID" value="@Model.Items[i].ItemID" />
                        <input type="hidden" name="Items[@i].ClientGal" value="@Model.Items[i].ClientGal" />
                        <input type="hidden" name="Items[@i].WRSGal" value="@Model.Items[i].WRSGal" />
                        <input type="hidden" name="Items[@i].FreeGal"  value="@Model.Items[i].FreeGal" />
                        <input type="hidden" name="Items[@i].Qty"  value="@Model.Items[i].Qty" />
                        <input type="hidden" name="Items[@i].Total"  value="@Model.Items[i].Total" />
                    }

                    <input type="hidden" name="Free" id="Free" value="@Model.Free" />

                    @* Total QTY *@
                    <input type="hidden" name="TotalQty" id="TotalQty" value="@Model.TotalQty" />
                    @* Total Price *@
                    <input type="hidden" name="TotalPrice" id="TotalPrice" value="@Model.TotalPrice"/>
                
                    <div class="d-flex flex-column gap-2 p-2 text-danger fw-bold" style="width: 80%; background-color: #f8d7da;">
                        <div class="d-flex flex-row w-100">
                            <span class="w-50 d-flex justify-content-end align-items-center px-4">SUB TOTAL</span>
                            <span class="w-50 d-flex justify-content-end fs-4" id="subTotal">@Model.TotalPrice</span>
                        </div>
                        <div class="d-flex flex-row w-100">
                            <span class="w-50 d-flex justify-content-end align-items-center px-4">Discount</span>
                            <span class="w-50 d-flex justify-content-end align-items-center">
                                    <input type="text" name="Discount" id="discountInput" class="w-100" />
                            </span>
                        </div>
                    </div>


                    <div class="d-flex flex-column gap-2 p-2 text-warning fw-bold" style="width: 80%; background-color: #fff3cd;">
                        <div class="d-flex flex-row w-100">
                            <span class="w-50 d-flex justify-content-end align-items-center px-4">TOTAL DUE</span>
                            <span class="w-50 d-flex justify-content-end fs-3" id="totalDue">@Model.TotalPrice </span>
                        </div>
                        <div class="d-flex flex-row w-100">
                            <span class="w-50 d-flex justify-content-end align-items-center px-4 text-info">Cash</span>
                            <span class="w-50 d-flex justify-content-end align-items-center">
                                <input type="number" name="Cash" id="cashInput" class="w-100" />
                            </span>
                        </div>
                        <div class="d-flex flex-row w-100">
                            <span class="w-50 d-flex justify-content-end align-items-center px-4 text-success">Changed</span>
                            <span class="w-50 d-flex justify-content-end align-items-center">
                                <input type="number" name="Changed" id="changeInput" class="w-100" step="1" />
                            </span>
                        </div>
                    </div>


                    @* Note *@
                    <div id="noteContainer" class="align-items-center" style="display:none; width: 80%;">
                        <label class="form-group w-100">Note</label>
                        <textarea class="form-control w-100" id="note" name="Note" value="@Model.Note">
                        </textarea>
                    </div>

                    @* Balanced *@
                    <input type="hidden" id="balanced" name="Balanced"  class="w-100" value="@Model.TotalPrice" />
                    @* Unpaid *@
                    <input type="hidden" id="status" name="Status"  class="w-100" value="Unpaid" />

                </div>

                <div class="modal-footer">
                     <button type="submit" class="bg-success text-white p-2 rounded" style="border: none">
                        <i class="font-small bi-send"></i> 
                        Submit Payment
                    </button>
                </div>

            </form>
            
        </div>
    </div>
</div>


