@{
    ViewData["Title"] = "POS";
}


@model AllBlue.Models.IndexViewModel


<div class="shadow-all-sides p-3 d-flex flex-column gap-3">

    <div class="d-flex justify-content-between">
        <div class="d-flex gap-4">
            <div class="d-flex gap-2 align-items-center">
                <i class="fs-6 bi-cart"></i> 
                Point Of Sale
            </div>
            <button class="bg-danger text-white px-4 rounded" id="openSearchCustomerModal" style="border: none">
                <i class="fs-6 bi-search"></i> 
                Customer
            </button>
            <button class="bg-primary text-white px-4 rounded" id="openReturnGallonModal" style="border: none">
                <i class="fs-6 bi-arrow-return-left"></i> 
                Return Gallon
            </button>
            <button class="bg-success text-white px-4 rounded" id="openAddCustomerModal" style="border: none">
                <i class="fs-6 bi-plus-circle"></i> 
                New Customer
            </button>
        </div>

        <div class="d-flex gap-3">
            <i class="fs-5 bi-arrow-clockwise"></i> 
            <i class="fs-5 bi-fullscreen"></i> 
        </div>
    </div>

    <div class="d-flex flex-row justify-content-between">
        <div class="shadow-all-sides" style="width: 68%">

            <div class="d-flex flex-row" style="width: 100%;">

                <div class="d-flex flex-column justify-content-center align-items-center" style="width:70%">
                    <span class="fs-5 fw-bold">@ViewBag.CustomerName</span>
                    <span class="font-small">@ViewBag.CustomerAddress</span>
                </div>
                <div class="d-flex flex-column p-2 gap-2" style="width:30%">

                    <select class="form-select delivery-mode" id="select-service">
                        <option value="Deliver">Deliver</option>
                        <option value="Pickup">Pickup</option>
                    </select>

                    <select  class="form-select" id="select-user" asp-items="ViewBag.UserList">
                        <option value=""></option>
                    </select>

                </div>

            </div>

            <div class="d-flex flex-row p-2 gap-2">

                <div class="d-flex flex-column gap-2">
                    <button type="button" id="gallonBtn" class="p-2 rounded" style="border: none; background-color: black; color: white;">Gallon</button>
                    <button type="button" id="bottleBtn" class="p-2 rounded" style="border: none">Bottle</button>
                </div>
               
                <div id="gallonContainer">
                    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                        <thead class="table-dark">
                            <tr>
                                <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                                <th class="font-small text-center" scope="col">ITEM</th>
                                <th class="font-small text-center" scope="col">PRICE</th>
                                <th class="font-small text-center" scope="col">CLIENT GAL</th>
                                <th class="font-small text-center" scope="col">WRS GAL</th>
                                <th class="font-small text-center" scope="col">FREE</th>
                                <th class="font-small text-center" scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model?.Items != null && Model.Items.Any())
                            {
                                @foreach (var item in Model.Items.Where(i => i.Item_Type == "Container")) 
                                {
                                    <tr>
                                        <th class="font-small text-center" scope="row">@item.Item_ID</th>
                                        <td class="font-small text-center">@item.Title</td>
                                        <td class="font-small text-center price-cell"></td>
                                        <td>
                                            <input 
                                                type="number" 
                                                class="form-control form-control-sm client-gal" 
                                                data-item-name="@item.Title"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" />
                                        </td>
                                        <td>
                                            <input type="number" 
                                                class="form-control form-control-sm wrs-gal"
                                                data-item-name="@item.Title"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" />
                                        </td>
                                        <td>
                                            <input type="number" 
                                                class="form-control form-control-sm free-gal"
                                                data-item-name="@item.Title"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup"  />
                                        </td>
                                        <td class="font-small text-center total-cell"></td>
                                    </tr>
                                }
                            } else 
                            {
                            <tr>
                                <td colspan="8" class="text-center text-muted">No Item found.</td>
                            </tr>   
                            }
                                                
                        </tbody>
                    </table>
                </div>
        
                

                <div id="bottleContainer" style="display: none">
                    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                    <thead class="table-dark">
                        <tr>
                            <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                            <th class="font-small text-center" scope="col">ITEM</th>
                            <th class="font-small text-center" scope="col">PRICE</th>
                            <th class="font-small text-center" scope="col">CLIENT GAL</th>
                            <th class="font-small text-center" scope="col">WRS GAL</th>
                            <th class="font-small text-center" scope="col">FREE</th>
                            <th class="font-small text-center" scope="col">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Items != null && Model.Items.Any())
                        {
                            @foreach (var item in Model.Items.Where(i => i.Item_Type == "Bottle")) 
                            {
                                <tr>
                                    <th class="font-small text-center" scope="row">@item.Item_ID</th>
                                    <td class="font-small text-center">@item.Title</td>
                                    <td class="font-small text-center price-cell"></td>
                                    <td>
                                        <input 
                                                type="number" 
                                                class="form-control form-control-sm client-gal" 
                                                data-item-name="@item.Title"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" />
                                    </td>
                                    <td>
                                        <input type="number" 
                                            class="form-control form-control-sm wrs-gal"
                                            data-item-name="@item.Title"
                                            data-deliver="@item.Deliver"
                                            data-pickup="@item.Pickup" />
                                    </td>
                                    <td>
                                        <input type="number"
                                            class="form-control form-control-sm free-gal"
                                            data-item-name="@item.Title"
                                            data-deliver="@item.Deliver"
                                            data-pickup="@item.Pickup" />
                                    </td>
                                    <td class="font-small text-center total-cell"></td>
                                </tr>
                            }
                        } else 
                        {
                        <tr>
                            <td colspan="8" class="text-center text-muted">No Item found.</td>
                        </tr>   
                        }
                                             
                    </tbody>
                </table>
                </div>
                

                
                <script>
                    const gallonBtn = document.getElementById('gallonBtn');
                    const bottleBtn = document.getElementById('bottleBtn');

                    const gallonContainer = document.getElementById('gallonContainer');
                    const bottleContainer = document.getElementById('bottleContainer');

                    gallonBtn.addEventListener('click', () =>{
                        gallonContainer.style.display = "block";
                        bottleContainer.style.display = "none";

                        gallonBtn.style.backgroundColor = "black";
                        bottleBtn.style.backgroundColor = "";

                        gallonBtn.style.color = "white";
                        bottleBtn.style.color = "";
                    });


                    bottleBtn.addEventListener('click', () =>{
                        gallonContainer.style.display = "none";
                        bottleContainer.style.display = "block";

                        gallonBtn.style.backgroundColor = "";
                        bottleBtn.style.backgroundColor = "black";
                        
                        gallonBtn.style.color = "";
                        bottleBtn.style.color = "white";

                    });

                </script>
               
            </div>

        </div>

        <div class="d-flex flex-column align-items-center shadow-all-sides p-2 gap-2" style="width: 30%; min-height: 350px;">

            <div class="d-flex w-100 border-bottom pb-2">
                <span class="fw-bold w-100">Date</span>
                <input type="date" id="date" name="date" value="" class="font-extra-small form-control" />
            </div>

            <span class="">Order Item Summary</span>

            <table id="summaryTable" class="table table-striped"  style="width: 100%; table-layout: fixed;">
                <thead class="table-dark">
                    <tr>
                        <th class="font-extra-small text-center" scope="col">ITEM</th>
                        <th class="font-extra-small text-center" scope="col">QTY</th>
                        <th class="font-extra-small text-center" scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font-extra-small text-center">(Item name here)</td>
                        <td class="font-extra-small text-center">(qty)</td>
                        <td class="font-extra-small text-center">(price)</td>
                    </tr>
                    <tr>
                        <th class="font-extra-small text-center" scope="row">TOTAL</th>
                        <td class="font-extra-small text-center">(total qty)</td>
                        <td class="font-extra-small text-center">(total price)</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex flex-row justify-content-between align-items-center mt-auto border-top border-bottom fw-bold" style="width: 80%;">
                <span>SUB TOTAL</span>
                <span id="subtotal" class="fs-4">(P 1,425.00)</span>
            </div>

            <button class="bg-success text-white p-2 rounded" 
                    id="openConfirmPaymentModal"
                    data-customer-id="@ViewBag.CustomerID"
                    data-user-id="@ViewBag.User_Account_ID"
                    style="border: none">
                <i class="font-small bi-send"></i> 
                Confirm Payment
            </button>

        </div>
    </div>


    <div class="d-flex flex-column align-items-center p-2 gap-2 shadow-all-sides">
        <div class="text-center p-2"> <i class="bi bi-clock-history"></i> Today's Previous Transaction</div>

        <table class="table table-striped" style="width: 100%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                    <th class="font-small text-center" scope="col">NAME</th>
                    <th class="font-small text-center" style="width: 400px;" scope="col">PRODUCT</th>
                    <th class="font-small text-center" scope="col">SERVICE STATUS</th>
                    <th class="font-small text-center" scope="col">DATE</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Orders != null && Model.Orders.Any())    
                {
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <th class="font-small text-center" scope="row">@order.OrderID</th>

                            <td class="font-small">
                                <div>
                                    <i class="bi bi-three-dots-vertical"></i>
                                    <span>@order.CustomerName</span>
                                </div>
                                <div>
                                    <i class="bi bi-three-dots-vertical"></i>
                                    <span class="font-extra-small">Ate Gina -Likod Pwesto</span>
                                </div>
                                <div>
                                    <i class="bi bi-three-dots-vertical"></i>
                                    <span class="font-extra-small">@order.CustomerAddress</span>
                                </div>
                            </td>

                            <td class="font-small text-center">
                                <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="font-extra-small text-center" scope="col">ITEM</th>
                                            <th class="font-extra-small text-center" scope="col">Client</th>
                                            <th class="font-extra-small text-center" scope="col">WRS</th>
                                            <th class="font-extra-small text-center" scope="col">QTY</th>
                                            <th class="font-extra-small text-center" scope="col">FREE</th>
                                            <th class="font-extra-small text-center" scope="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in order.Products)
                                        {
                                            <tr>
                                                <td class="font-extra-small text-center">@product.ItemName</td>
                                                <td class="font-extra-small text-center">@product.ClientGal</td>
                                                <td class="font-extra-small text-center">@product.WRSGal</td>
                                                <td class="font-extra-small text-center">@product.QTY</td>
                                                <td class="font-extra-small text-center">@product.FreeGal</td>
                                                <td class="font-extra-small text-center">@product.Price</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </td>

                            @{
                                string bgClass = order.Status switch
                                {
                                    "Unpaid" => "bg-danger",
                                    "Discount" => "bg-warning", // orange
                                    _ => "bg-success"  // default for Paid or others
                                };
                            }

                            <td class="align-middle text-center text-white">
                                <div class="font-extra-small bg-success p-2 rounded-pill" style="display: inline-block;">
                                    @order.Service
                                </div>
                                <div class="font-extra-small @bgClass p-2 rounded-pill" style="display: inline-block;">
                                    @order.Status
                                </div>
                            </td>

                            <td class="text-center align-middle">
                                <span class="font-small">@order.Date.ToString("MMMM dd, yyyy")</span>
                            </td>
                        </tr>
                    }
                } else {
                    <tr>
                        <td colspan="5" class="text-center text-muted">No Item found.</td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item @(ViewBag.Window == 1 ? "disabled" : "")">
                    <a class="page-link" 
                        asp-action="Index"
                        asp-route-page="@((ViewBag.StartPage - 5) > 0 ? ViewBag.StartPage - 5 : 1)"
                        asp-route-window="@(ViewBag.Window -1)">
                        Previous
                    </a>
                </li>


                @for (int i = ViewBag.StartPage; i <= ViewBag.Endpage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "actve" : "")">
                        <a class="page-link"
                            asp-action="Index"
                            asp-route-page="@i"
                            asp-route-window="@ViewBag.Window">
                            @i
                        </a>
                    </li>
                }

                <li class="page-item @(ViewBag.EndPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" 
                        asp-action="Index"
                        asp-route-page="@((ViewBag.EndPage + 1) <= ViewBag.TotalPages ? ViewBag.EndPage + 1 : ViewBag.TotalPages)"
                        asp-route-window="@(ViewBag.Window + 1)">
                        Next
                    </a>
                </li>
            </ul>
        </nav>


    </div>

</div>


<div id="addCustomerContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openAddCustomerModal");
        const container = document.getElementById("addCustomerContainer");

        button.addEventListener("click", function (){
            fetch("/POS/AddCustomer")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("addCustomerModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
         });
</script>


<div id="returnGallonContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openReturnGallonModal");
        const container = document.getElementById("returnGallonContainer");

        button.addEventListener("click", function (){
            fetch("/POS/ReturnGallon")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("returnGallonModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
         });
</script>


<div id="searchCustomerContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openSearchCustomerModal");
        const container = document.getElementById("searchCustomerContainer");

        button.addEventListener("click", function () {
            fetch("/POS/SearchCustomer")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("searchCustomerModal");
                    if (modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                });
        });

        container.addEventListener("click", function (e) {
            if (e.target.classList.contains("pagination-link")) {
                e.preventDefault();
                loadFilteredResults(e.target.getAttribute("href"));
            }
        });

        container.addEventListener("click", function (e) {
            if (e.target.id === "applyFilter") {
                e.preventDefault();
                loadFilteredResults("/POS/SearchCustomer");
            }
        });

        // Handle row click
        container.addEventListener("click", function (e) {
            const row = e.target.closest(".clickable-row");
            if (row) {
                const customerId = row.getAttribute("data-id");
                if (customerId) {
                    window.location.href = `/POS/Index?id=${customerId}`;
                }
            }
        });

        function loadFilteredResults(baseUrl) {
            const keyword = document.getElementById("searchKeyword").value;
            const barangay = document.getElementById("filterBarangay").value;
            const city = document.getElementById("filterCity").value;

            const url = new URL(baseUrl, window.location.origin);
            url.searchParams.set("keyword", keyword);
            url.searchParams.set("selectedBarangayID", barangay);
            url.searchParams.set("selectedCityID", city);

            fetch(url, {
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => response.text())
            .then(html => {
                const modalBody = document.querySelector("#searchCustomerModal #modalBodyContent");
                if (modalBody) {
                    modalBody.innerHTML = html;
                }
            });
        }
    });
</script>






<div id="confirmPaymentContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openConfirmPaymentModal");
        const container = document.getElementById("confirmPaymentContainer");

        if (!button) {
            console.warn("No button with id 'openConfirmPaymentModal' found.");
            return; // Exit if button doesn't exist
        }

        if (!container) {
            console.warn("No container with id 'confirmPaymentContainer' found.");
            return;
        }

        button.addEventListener("click", function () {
            const customerID = button.dataset.customerId;

            const selectUserElem = document.getElementById("select-user");
            const selectedUserId = selectUserElem ? selectUserElem.value : null;
            if (!selectedUserId) {
                alert("Please select a user first.");
                return;
            }

            const selectServiceElem = document.getElementById("select-service");
            const selectedService = selectServiceElem ? selectServiceElem.value : null;
            if (!selectedService) {
                alert("Please select a service first.");
                return;
            }

            const dateElem = document.getElementById("date");
            const date = dateElem ? dateElem.value : null;

            // Collect all rows
            const rows = document.querySelectorAll("#gallonContainer tbody tr, #bottleContainer tbody tr");
            const items = [];

            rows.forEach(row => {
                const itemIdCell = row.querySelector("th[scope=row]");
                if (!itemIdCell) return;

                const itemID = parseInt(itemIdCell.innerText.trim(), 10);
                const clientGal = parseInt(row.querySelector(".client-gal")?.value || "0", 10);
                const wrsGal = parseInt(row.querySelector(".wrs-gal")?.value || "0", 10);
                const freeGal = parseInt(row.querySelector(".free-gal")?.value || "0", 10);
                const total = parseInt(parseFloat(row.querySelector(".total-cell")?.innerText.trim()) || 0, 10);

                const qty = clientGal + wrsGal + freeGal;

                if (qty > 0) {
                    items.push({
                        ItemID: itemID,
                        ClientGal: clientGal,
                        WRSGal: wrsGal,
                        FreeGal: freeGal,
                        Qty: qty,
                        Total: total
                    });
                }
            });

            if (items.length === 0) {
                alert("Please input gallons for at least one item.");
                return;
            }

            const totalQtyElem = document.querySelector("#summaryTable #total-qty");
            const totalPriceElem = document.querySelector("#summaryTable #total-price");

            const totalQty = totalQtyElem ? parseInt(totalQtyElem.innerText.trim() || "0", 10) : 0;
            const totalPrice = totalPriceElem ? parseInt(parseFloat(totalPriceElem.innerText.trim() || "0"), 10) : 0;
            const totalFree = items.reduce((sum, item) => sum + item.FreeGal, 0);

            const payload = {
                CustomerID: parseInt(customerID, 10),
                SelectedUserID: parseInt(selectedUserId, 10),
                SelectedService: selectedService,
                Items: items,
                TotalQty: totalQty,
                Free: totalFree,
                TotalPrice: totalPrice,
                Discount: "",
                Cash: 0,
                Changed: 0,
                Note: "",
                Status: "Unpaid",
                Date: date
            };

            console.log("Payload:", JSON.stringify(payload));

            fetch("/POS/ConfirmPayment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            })
            .then(response => {
                if (!response.ok) throw new Error("Server returned " + response.status);
                return response.text();
            })
            .then(html => {
                container.innerHTML = html;
                const modal = document.getElementById("confirmPaymentModal");
                if (!modal) {
                    console.warn("No modal element found in the response.");
                    return;
                }

                const modalInstance = new bootstrap.Modal(modal);
                modalInstance.show();

                const totalDue = document.getElementById('totalDue');
                const cashInput = document.getElementById('cashInput');
                const changeInput = document.getElementById('changeInput');
                const statusInput = document.getElementById('status');
                const discountInput = document.getElementById('discountInput');
                const balancedInput = document.getElementById('balanced');


                if (!totalDue || !cashInput || !changeInput || !statusInput || !discountInput) {
                    console.warn("Some modal input elements are missing.");
                    return;
                }

                function updateStatus() {
                    let total = parseFloat(totalDue.textContent) || 0;
                    let cash = parseFloat(cashInput.value) || 0;
                    let discountText = discountInput.value.trim();

                    let balance = Math.max(total - cash, 0);

                    balancedInput.value = balance;

                    if (discountText !== "") {
                        statusInput.value = 'Discount';
                        changeInput.value = 0;
                    } else if (cash >= total) {
                        statusInput.value = 'Paid';
                        changeInput.value = (cash - total);
                    } else if (cash > 0 && cash < total) {
                        statusInput.value = `Balance: ${(balance)}`;
                        changeInput.value = 0;
                    } else {
                        statusInput.value = 'Unpaid';
                        changeInput.value = 0;
                    }
                }

                cashInput.addEventListener('input', updateStatus);
                discountInput.addEventListener('input', updateStatus);
            })
            .catch(error => {
                console.error("Error loading modal:", error);
                alert("Failed to load payment modal. Check console for details.");
            });
        });
    });
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const allInputs = document.querySelectorAll('input[data-item-name]');
        const deliveryModeSelect = document.querySelector('.delivery-mode');
        const summaryTableBody = document.querySelector('#summaryTable tbody');
        const subtotalDisplay = document.querySelector('#subtotal');

        function updatePricesByMode() {
            const mode = deliveryModeSelect.value;
            allInputs.forEach(input => {
                const newPrice = mode === 'Pickup' ? input.dataset.pickup : input.dataset.deliver;
                input.dataset.price = newPrice;

                const row = input.closest('tr');
                const priceCell = row.querySelector('.price-cell');
                if(priceCell) {
                    priceCell.textContent = `P ${parseFloat(newPrice).toFixed(2)}`;
                }
            });
        }


            function updateSummary() {
        let summaryMap = {};
        let totalQty = 0;
        let totalPrice = 0;

        // Loop through each table row
        document.querySelectorAll('#gallonContainer tbody tr, #bottleContainer tbody tr').forEach(row => {
            const price = parseFloat(row.querySelector('input[data-item-name]').dataset.price) || 0;

            const client = parseFloat(row.querySelector('.client-gal')?.value) || 0;
            const wrs = parseFloat(row.querySelector('.wrs-gal')?.value) || 0;
            const freeGal = parseFloat(row.querySelector('.free-gal')?.value) || 0;

            const itemName = row.querySelector('input[data-item-name]')?.dataset.itemName;
            const totalCell = row.querySelector('.total-cell');

            // PAID gallons = client + wrs only
            const paidGallons = client + wrs;

            // PER ROW total
            const rowTotal = paidGallons * price;

            // Update row total cell
            totalCell.textContent = rowTotal > 0 ? `${rowTotal.toFixed(2)}` : "";

            // Build summary
            if (paidGallons + freeGal > 0) {
                if (!summaryMap[itemName]) {
                    summaryMap[itemName] = { qty: 0, itemTotal: 0 };
                }

                // TOTAL quantity (paid + free)
                summaryMap[itemName].qty += client + wrs + freeGal;

                // Paid only added to money total
                summaryMap[itemName].itemTotal += rowTotal;

                totalQty += client + wrs + freeGal;
                totalPrice += rowTotal;
            }
        });

        // Clear summary
        summaryTableBody.innerHTML = "";

        // Render summary rows
        Object.keys(summaryMap).forEach(itemName => {
            const data = summaryMap[itemName];
            const row = document.createElement("tr");
            row.innerHTML = `
                <td class="font-extra-small text-center">${itemName}</td>
                <td class="font-extra-small text-center">${data.qty}</td>
                <td class="font-extra-small text-center">${data.itemTotal.toFixed(2)}</td>
            `;
            summaryTableBody.appendChild(row);
        });

        // Total row
        const totalRow = document.createElement('tr');
        totalRow.innerHTML = `
            <th class="font-extra-small text-center">TOTAL</th>
            <td class="font-extra-small text-center" id="total-qty">${totalQty}</td>
            <td class="font-extra-small text-center" id="total-price">${totalPrice.toFixed(2)}</td>
        `;
        summaryTableBody.appendChild(totalRow);

        subtotalDisplay.textContent = `${totalPrice.toFixed(2)}`;
    }





        // Initial price setup
        updatePricesByMode();
        updateSummary();

        allInputs.forEach(input => {
            input.addEventListener('input', updateSummary);
        });

        deliveryModeSelect.addEventListener('change', function () {
            updatePricesByMode();
            updateSummary();
        });
    });
</script>



<script>
    const today = new Date();
    const yyyy = today.getFullYear();
    const mm = String(today.getMonth() +1).padStart(2, '0');
    const dd = String(today.getDate()).padStart(2, '0');
    document.getElementById('date').value = `${yyyy}-${mm}-${dd}`;
</script>
