@{
    ViewData["Title"] = "POS";
}

@model List<Item>


<div class="shadow-all-sides p-3 d-flex flex-column gap-3">

    <div class="d-flex justify-content-between">
        <div class="d-flex gap-4">
            <div class="d-flex gap-2 align-items-center">
                <i class="fs-6 bi-cart"></i> 
                Point Of Sale
            </div>
            <button class="bg-danger text-white px-4 rounded" id="openSearchCustomerModal" style="border: none">
                <i class="fs-6 bi-search"></i> 
                Customer
            </button>
            <button class="bg-primary text-white px-4 rounded" id="openReturnGallonModal" style="border: none">
                <i class="fs-6 bi-arrow-return-left"></i> 
                Return Gallon
            </button>
            <button class="bg-success text-white px-4 rounded" id="openAddCustomerModal" style="border: none">
                <i class="fs-6 bi-plus-circle"></i> 
                New Customer
            </button>
        </div>

        <div class="d-flex gap-3">
            <i class="fs-5 bi-arrow-clockwise"></i> 
            <i class="fs-5 bi-fullscreen"></i> 
        </div>
    </div>

    <div class="d-flex flex-row justify-content-between">
        <div class="shadow-all-sides" style="width: 68%">

            <div class="d-flex flex-row" style="width: 100%;">

                <div class="d-flex flex-column justify-content-center align-items-center" style="width:70%">
                    <span class="fs-5 fw-bold">@ViewBag.CustomerName</span>
                    <span class="font-small">@ViewBag.CustomerAddress</span>
                </div>
                <div class="d-flex flex-column p-2 gap-2" style="width:30%">

                    <select class="form-select delivery-mode">
                        <option value="Deliver">Deliver</option>
                        <option value="Pickup">Pickup</option>
                    </select>

                    <select  class="form-select" asp-items="ViewBag.UserList">
                        <option value=""></option>
                    </select>

                </div>

            </div>

            <div class="d-flex flex-row p-2 gap-2">

                <div class="d-flex flex-column gap-2">
                    <button type="button" id="gallonBtn" class="p-2 rounded" style="border: none; background-color: black; color: white;">Gallon</button>
                    <button type="button" id="bottleBtn" class="p-2 rounded" style="border: none">Bottle</button>
                </div>
               
                <div id="gallonContainer">
                    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                        <thead class="table-dark">
                            <tr>
                                <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                                <th class="font-small text-center" scope="col">ITEM</th>
                                <th class="font-small text-center" scope="col">PRICE</th>
                                <th class="font-small text-center" scope="col">CLIENT GAL</th>
                                <th class="font-small text-center" scope="col">WRS GAL</th>
                                <th class="font-small text-center" scope="col">FREE</th>
                                <th class="font-small text-center" scope="col">TOTAL</th>
                                <th class="font-small text-center" scope="col">BUY</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model.Where(i => i.Item_Type == "Container")) 
                                {
                                    <tr>
                                        <th class="font-small text-center" scope="row">@item.Item_ID</th>
                                        <td class="font-small text-center">@item.Title</td>
                                        <td class="font-small text-center">
                                        
                                        </td>
                                        <td>
                                            <input 
                                                type="text" 
                                                class="form-control form-control-sm -gal" 
                                                data-item-name="@item.Title"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" 
                                                data-price="@item.Deliver" />
                                        </td>
                                        <td>
                                            <input type="text" 
                                                class="form-control form-control-sm wrs-gal"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" 
                                                data-price="@item.Deliver" />
                                        </td>
                                        <td>
                                            <input type="text" 
                                                class="form-control form-control-sm free-gal"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" 
                                                data-price="@item.Deliver" />
                                        </td>
                                        <td class="text-center">
                                            
                                        </td>
                                        <td class="text-center">
                                            <input type="radio" />
                                        </td>
                                    </tr>
                                }
                            } else 
                            {
                            <tr>
                                <td colspan="8" class="text-center text-muted">No Item found.</td>
                            </tr>   
                            }
                                                
                        </tbody>
                    </table>
                </div>
        
                

                <div id="bottleContainer" style="display: none">
                    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                    <thead class="table-dark">
                        <tr>
                            <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                            <th class="font-small text-center" scope="col">ITEM</th>
                            <th class="font-small text-center" scope="col">PRICE</th>
                            <th class="font-small text-center" scope="col">CLIENT GAL</th>
                            <th class="font-small text-center" scope="col">WRS GAL</th>
                            <th class="font-small text-center" scope="col">FREE</th>
                            <th class="font-small text-center" scope="col">TOTAL</th>
                            <th class="font-small text-center" scope="col">BUY</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            @foreach (var item in Model.Where(i => i.Item_Type == "Bottle")) 
                            {
                                <tr>
                                    <th class="font-small text-center" scope="row">@item.Item_ID</th>
                                    <td class="font-small text-center">@item.Title</td>
                                    <td class="font-small text-center">10.00</td>
                                    <td>
                                        <input 
                                                type="text" 
                                                class="form-control form-control-sm client-gal" 
                                                data-item-name="@item.Title"
                                                data-deliver="@item.Deliver"
                                                data-pickup="@item.Pickup" 
                                                data-price="@item.Deliver" />
                                    </td>
                                    <td>
                                        <input type="text" 
                                            class="form-control form-control-sm wrs-gal" 
                                            data-deliver="@item.Deliver"
                                            data-pickup="@item.Pickup" 
                                            data-price="@item.Deliver" />
                                    </td>
                                    <td>
                                        <input type="text"
                                            class="form-control form-control-sm free-gal"
                                            data-deliver="@item.Deliver"
                                            data-pickup="@item.Pickup" 
                                            data-price="@item.Deliver" />
                                    </td>
                                    <td class="text-center">
                                        100
                                    </td>
                                    <td class="text-center">
                                        <input type="radio" />
                                    </td>
                                </tr>
                            }
                        } else 
                        {
                        <tr>
                            <td colspan="8" class="text-center text-muted">No Item found.</td>
                        </tr>   
                        }
                                             
                    </tbody>
                </table>
                </div>
                

                
                <script>
                    const gallonBtn = document.getElementById('gallonBtn');
                    const bottleBtn = document.getElementById('bottleBtn');

                    const gallonContainer = document.getElementById('gallonContainer');
                    const bottleContainer = document.getElementById('bottleContainer');

                    gallonBtn.addEventListener('click', () =>{
                        gallonContainer.style.display = "block";
                        bottleContainer.style.display = "none";

                        gallonBtn.style.backgroundColor = "black";
                        bottleBtn.style.backgroundColor = "";

                        gallonBtn.style.color = "white";
                        bottleBtn.style.color = "";
                    });


                    bottleBtn.addEventListener('click', () =>{
                        gallonContainer.style.display = "none";
                        bottleContainer.style.display = "block";

                        gallonBtn.style.backgroundColor = "";
                        bottleBtn.style.backgroundColor = "black";
                        
                        gallonBtn.style.color = "";
                        bottleBtn.style.color = "white";

                    });

                </script>
               
            </div>

        </div>

        <div class="d-flex flex-column align-items-center shadow-all-sides p-2 gap-2" style="width: 30%; min-height: 350px;">

            <div class="d-flex justify-content-between w-100 border-bottom">
                <span class="fw-bold">Date</span>
                <span class="font-small">22/10/2025</span>
            </div>

            <span class="">Order Item Summary</span>

            <table id="summaryTable" class="table table-striped"  style="width: 100%; table-layout: fixed;">
                <thead class="table-dark">
                    <tr>
                        <th class="font-extra-small text-center" scope="col">ITEM</th>
                        <th class="font-extra-small text-center" scope="col">QTY</th>
                        <th class="font-extra-small text-center" scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font-extra-small text-center">(Item name here)</td>
                        <td class="font-extra-small text-center">(qty)</td>
                        <td class="font-extra-small text-center">(price)</td>
                    </tr>
                    <tr>
                        <th class="font-extra-small text-center" scope="row">TOTAL</th>
                        <td class="font-extra-small text-center">(total qty)</td>
                        <td class="font-extra-small text-center">(total price)</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex flex-row justify-content-between align-items-center mt-auto border-top border-bottom fw-bold" style="width: 80%;">
                <span>SUB TOTAL</span>
                <span id="subtotal" class="fs-4">(P 1,425.00)</span>
            </div>

            <button class="bg-success text-white p-2 rounded" id="openConfirmPaymentModal" style="border: none">
                <i class="font-small bi-send"></i> 
                Confirm Payment
            </button>

        </div>
    </div>

    <div class="d-flex flex-column align-items-center p-2 gap-2 shadow-all-sides">
        <div class="text-center p-2"> <i class="bi bi-clock-history"></i> Today's Previous Transaction</div>

        <table class="table table-striped" style="width: 100%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th class="font-small text-center" style="width: 40px" scope="col">#</th>
                    <th class="font-small text-center" scope="col">NAME</th>
                    <th class="font-small text-center" style="width: 400px;" scope="col">PRODUCT</th>
                    <th class="font-small text-center" scope="col">SERVICE STATUS</th>
                    <th class="font-small text-center" scope="col">DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="font-small text-center" scope="row">1</th>
                   
                    <td class="font-small">
                        <div>
                            <i class="bi bi-three-dots-vertical"></i>
                            <span>GINA RAZO</span>
                        </div>
                        <div>
                            <i class="bi bi-three-dots-vertical"></i>
                            <span class="font-extra-small">Ate Gina -Likod Pwesto</span>
                        </div>   
                        <div>
                            <i class="bi bi-three-dots-vertical"></i>
                            <span class="font-extra-small">Tanalong, Bayambang</span>
                        </div>
                    </td>

                    <td class="font-small text-center">
                         <table class="table table-striped"  style="width: 100%; table-layout: fixed;">
                            <thead class="thead-light">
                                <tr>
                                    <th class="font-extra-small text-center" scope="col">ITEM</th>
                                    <th class="font-extra-small text-center" scope="col">Client</th>
                                    <th class="font-extra-small text-center" scope="col">WRS</th>
                                    <th class="font-extra-small text-center" scope="col">QTY</th>
                                    <th class="font-extra-small text-center" scope="col">FREE</th>
                                    <th class="font-extra-small text-center" scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="font-extra-small text-center">1 Litter -Bottle</td>
                                    <td class="font-extra-small text-center"></td>
                                    <td class="font-extra-small text-center"></td>
                                    <td class="font-extra-small text-center">100</td>
                                    <td class="font-extra-small text-center"></td>
                                    <td class="font-extra-small text-center"></td>
                                </tr>
                                <tr>
                                    <th class="font-extra-small text-center" scope="row">TOTAL</th>
                                    <td class="font-extra-small text-center"></td>
                                    <td class="font-extra-small text-center"></td>
                                    <td class="font-extra-small text-center">100</td>
                                    <td class="font-extra-small text-center">5</td>
                                    <td class="font-extra-small text-center">1,400.00</td>
                                </tr>
                            </tbody>
                        </table>

                    </td>

                    <td class="align-middle text-center text-white">
                        <div class="font-extra-small bg-success p-2 rounded-pill" style="display: inline-block;">
                            Deliver
                        </div>
                        <div class="font-extra-small bg-success p-2 rounded-pill" style="display: inline-block;">
                            Paid
                        </div>
                    </td>

                    <td class="text-center align-middle">
                        <span class="font-small">Novermber 25, 2025</span>
                    </td>
                </tr>

            </tbody>
        </table>

        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item ">
                    <a class="page-link" 
                        href="/Search?page=1&window=1&search=John&gender=Male">
                        Previous
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="/Search?page=6&window=2&search=John&gender=Male">6</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="/Search?page=7&window=2&search=John&gender=Male">7</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Search?page=8&window=2&search=John&gender=Male">8</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Search?page=9&window=2&search=John&gender=Male">9</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/Search?page=10&window=2&search=John&gender=Male">10</a>
                </li>

                <li class="page-item">
                    <a class="page-link" 
                        href="/Search?page=11&window=3&search=John&gender=Male">
                        Next
                    </a>
                </li>
            </ul>
        </nav>


    </div>

</div>


<div id="addCustomerContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openAddCustomerModal");
        const container = document.getElementById("addCustomerContainer");

        button.addEventListener("click", function (){
            fetch("/POS/AddCustomer")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("addCustomerModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
         });
</script>


<div id="returnGallonContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openReturnGallonModal");
        const container = document.getElementById("returnGallonContainer");

        button.addEventListener("click", function (){
            fetch("/POS/ReturnGallon")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("returnGallonModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
         });
</script>


<div id="searchCustomerContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openSearchCustomerModal");
        const container = document.getElementById("searchCustomerContainer");

        button.addEventListener("click", function () {
            fetch("/POS/SearchCustomer")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("searchCustomerModal");
                    if (modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                });
        });

        container.addEventListener("click", function (e) {
            if (e.target.classList.contains("pagination-link")) {
                e.preventDefault();
                loadFilteredResults(e.target.getAttribute("href"));
            }
        });

        container.addEventListener("click", function (e) {
            if (e.target.id === "applyFilter") {
                e.preventDefault();
                loadFilteredResults("/POS/SearchCustomer");
            }
        });

        // Handle row click
        container.addEventListener("click", function (e) {
            const row = e.target.closest(".clickable-row");
            if (row) {
                const customerId = row.getAttribute("data-id");
                if (customerId) {
                    window.location.href = `/POS/Index?id=${customerId}`;
                }
            }
        });

        function loadFilteredResults(baseUrl) {
            const keyword = document.getElementById("searchKeyword").value;
            const barangay = document.getElementById("filterBarangay").value;
            const city = document.getElementById("filterCity").value;

            const url = new URL(baseUrl, window.location.origin);
            url.searchParams.set("keyword", keyword);
            url.searchParams.set("selectedBarangayID", barangay);
            url.searchParams.set("selectedCityID", city);

            fetch(url, {
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => response.text())
            .then(html => {
                const modalBody = document.querySelector("#searchCustomerModal #modalBodyContent");
                if (modalBody) {
                    modalBody.innerHTML = html;
                }
            });
        }
    });
</script>






<div id="confirmPaymentContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openConfirmPaymentModal");
        const container = document.getElementById("confirmPaymentContainer");

        button.addEventListener("click", function (){
            fetch("/POS/ConfirmPayment")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("confirmPaymentModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
         });
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const allInputs = document.querySelectorAll('input[data-item-name]');
        const deliveryModeSelect = document.querySelector('.delivery-mode');
        const summaryTableBody = document.querySelector('#summaryTable tbody');
        const subtotalDisplay = document.querySelector('#subtotal');

        function updatePricesByMode() {
            const mode = deliveryModeSelect.value;
            allInputs.forEach(input => {
                const newPrice = mode === 'Pickup' ? input.dataset.pickup : input.dataset.deliver;
                input.dataset.price = newPrice;
            });
        }

        function updateSummary() {
            let summaryData = [];
            let totalQty = 0;
            let totalPrice = 0;

            allInputs.forEach(input => {
                const qty = parseFloat(input.value) || 0;
                const itemName = input.dataset.itemName;
                const price = parseFloat(input.dataset.price) || 0;

                if (qty > 0) {
                    const itemTotal = price * qty;
                    summaryData.push({ itemName, qty, itemTotal });
                    totalQty += qty;
                    totalPrice += itemTotal;
                }
            });

            summaryTableBody.innerHTML = '';

            summaryData.forEach(data => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td class="font-extra-small text-center">${data.itemName}</td>
                    <td class="font-extra-small text-center">${data.qty}</td>
                    <td class="font-extra-small text-center">P ${data.itemTotal.toFixed(2)}</td>
                `;
                summaryTableBody.appendChild(row);
            });

            const totalRow = document.createElement('tr');
            totalRow.innerHTML = `
                <th class="font-extra-small text-center" scope="row">TOTAL</th>
                <td class="font-extra-small text-center">${totalQty}</td>
                <td class="font-extra-small text-center">P ${totalPrice.toFixed(2)}</td>
            `;
            summaryTableBody.appendChild(totalRow);

            subtotalDisplay.textContent = `P ${totalPrice.toFixed(2)}`;
        }

        // Initial price setup
        updatePricesByMode();
        updateSummary();

        allInputs.forEach(input => {
            input.addEventListener('input', updateSummary);
        });

        deliveryModeSelect.addEventListener('change', function () {
            updatePricesByMode();
            updateSummary();
        });
    });
</script>


