@{
    ViewData["Title"] = "User Account";
}


@model List<UserAccount>

<div class="d-flex flex-column gap-5">

    <div class="shadow-all-sides p-3 d-flex flex-column align-items-center gap-3">

        <div class="d-flex justify-content-between border-bottom pb-2 w-100">
            <div class="d-flex gap-2 align-items-center">
                <i class="fs-6 bi-person-circle"></i> 
                User Account
            </div>
            <i class="fs-5 bi-fullscreen"></i> 
        </div>


        <div class="d-flex flex-row justify-content-between w-100">

            <div class="d-flex flex-column">
                <button class="bg-primary text-white p-2 rounded" id="openAddUserModal" style="border: none">
                <i class="fs-6 bi-plus"></i> 
                    New User
                </button>
            </div>

            <form class="form-group d-flex flex-row" asp-controller="UserAccount" asp-action="Index" method="get">
                <input type="text" name="search" placeholder="Search by name." class="form-control" style="width: 300px;" />
                <button class="border bg-white">
                    <i class="bi bi-search"></i>
                </button>
            </form>

        </div>


        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show w-100 m-0" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show w-100 m-0" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        <table class="table table-striped" style="width: 100%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th class="font-small" scope="col" style="width: 40px;">#</th>
                    <th class="font-small" scope="col">Name</th>
                    <th class="font-small" scope="col">Username</th>
                    <th class="font-small" scope="col" style="width: 200px;">Email</th>
                    <th class="font-small" scope="col">Contact</th>
                    <th class="font-small" scope="col">Address</th>
                    <th class="font-small" scope="col">Role</th>
                    <th class="font-small" scope="col">Status</th>
                    <th class="font-small text-center" scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @if (Model !=null && Model.Any())
                {
                    @foreach (var userAccount in Model){
                        <tr>
                            <td class="font-small" scope="row">@userAccount.User_Account_ID</td>
                            <td class="font-small">
                                @userAccount.Firstname @userAccount.Middlename @userAccount.Lastname
                            </td>
                            <td class="font-small">
                                @userAccount.Username
                            </td>
                            <td class="font-small">@userAccount.Email</td>
                            <td class="font-small">@userAccount.Contact</td>
                            <td class="font-small">@userAccount.Address</td>
                            <td class="font-small">
                                @userAccount.accountType.Title
                            </td>
                            <td class="font-small text-center">
                                @if (userAccount.Status == "Active") {
                                    <div class="bg-success text-white px-2 d-inline rounded-pill">Active</div>
                                } else {
                                    <div class="bg-danger text-white px-2 d-inline rounded-pill">Inactive</div>
                                }
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-gear"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-item openEditUserModal"
                                                data-id="@userAccount.User_Account_ID">
                                                <i class="bi bi-pencil-fill"></i> Edit
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item openDeactivateUserModal"
                                                data-id="@userAccount.User_Account_ID">
                                                <i class="bi bi-toggle-off"></i> Deactivate
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item openChangePasswordModal"
                                                data-id="@userAccount.User_Account_ID">
                                                <i class="bi bi-lock-fill"></i> Password
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item openDeleteUserModal"
                                                data-id="@userAccount.User_Account_ID">
                                                <i class="bi bi-trash-fill"></i> Delete
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                } else
                {
                    <tr>
                        <td colspan="9" class="text-center text-muted">No User Account found.</td>
                    </tr>
                }
                
            </tbody>
        </table>  


        <nav aria-label="User Account Pagination">
            <ul class="pagination">
                <li class="page-item @(ViewBag.Window == 1 ? "disabled" : "")">
                    <a class="page-link"
                        asp-action="Index"
                        asp-route-page="@((ViewBag.StartPage - 5) > 0 ? ViewBag.StartPage - 5 : 1)" 
                        asp-route-window="@(ViewBag.Window - 1)"
                        asp-route-search="@ViewBag.Search">
                        Previous
                    </a>
                </li>

                @for (int i = ViewBag.StartPage; i <= ViewBag.EndPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class = "page-link"
                            asp-action="Index"
                            asp-route-page="@i"
                            asp-route-window="@ViewBag.Window"
                            asp-route-search="@ViewBag.Search">
                        @i
                        </a>
                    </li>
                }

                <li class="page-item @(ViewBag.EndPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link"
                        asp-action="Index"
                        asp-route-page="@((ViewBag.EndPage + 1) <= ViewBag.TotalPages ? ViewBag.EndPage + 1 : ViewBag.TotalPages)"
                        asp-route-window="@(ViewBag.Window + 1)"
                        asp-route-search="@ViewBag.Search">
                        Next
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</div>

<div id="deactivateUserContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openDeactivateUserModal");
        const container = document.getElementById("deactivateUserContainer");

        button.forEach(button => {
            button.addEventListener("click", function () {
                const userId = this.getAttribute("data-id");

                fetch(`/UserAccount/DeativateUser?id=${userId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal = document.getElementById("deactivateUserModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show()
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    })
            })
        })
    })
</script>


<div id="addUserContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openAddUserModal");
        const container = document.getElementById("addUserContainer");

        button.addEventListener("click", function() {
            fetch("/UserAccount/AddUser")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("addUserModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                })
        })
    })
</script>


<div id="editUserContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openEditUserModal");
        const container = document.getElementById("editUserContainer");

        button.forEach(button => {
                button.addEventListener("click", function (){
                    const userId = this.getAttribute("data-id");
               
                fetch(`/UserAccount/EditUser?id=${userId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal = document.getElementById("editUserModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show();
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    });
                });
            });
        })
</script>


<div id="changePasswordContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openChangePasswordModal");
        const container = document.getElementById("changePasswordContainer");

        button.forEach(button => {
            button.addEventListener("click", function (){
            const userId = this.getAttribute("data-id");

            fetch(`/UserAccount/ChangePassword?id=${userId}`)
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("changePasswordModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
        })
    });
</script>



<div id="deleteUserContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openDeleteUserModal");
        const container = document.getElementById("deleteUserContainer");

        button.forEach(button => {
            button.addEventListener("click", function () {
                const userId = this.getAttribute("data-id");

                fetch(`/UserAccount/DeleteUser?id=${userId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal = document.getElementById("deleteUserModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show()
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    })
            })
        })
    })
</script>




