@{
    Layout = null;
};
s
@model AllBlue.Models.StockHistoryPageViewModel 

<!-- Stock History Modal -->
<div class="modal fade" id="stockHistoryModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Stock History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column p-2">

                <div class="border d-flex flex-column gap-2 p-2">
                
                    <div class="d-flex flex-row justify-content-between align-items-center border-bottom pb-2 w-100">
                        <span class="fs-5 fw-bold">Item</span>
                        <button class="bg-danger text-white p-2 rounded" id="openAddCustomerModal" style="border: none">
                            <i class="fs-6 bi-printer"></i> 
                            <span class="font-small">Print History</span>
                        </button>
                    </div>
                    
                    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
                        <thead class="table-dark">
                            <tr>
                                <th class="font-small text-center" scope="col" style="width: 40px" >#</th>
                                <th class="font-small text-center" scope="col">QTY</th>
                                <th class="font-small text-center" scope="col">PRICE</th>
                                <th class="font-small text-center" scope="col" style="width: 150px" >COMMENTS</th>
                                <th class="font-small text-center" scope="col">STATUS</th>
                                <th class="font-small text-center" scope="col">TRANSACTION</th>
                                <th class="font-small text-center" scope="col">DATE</th>
                                <th class="font-small text-center" scope="col">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.History)
                            {
                                <tr>
                                    <td class="font-small text-center" scope="row">@record.ID</td>
                                    <td class="font-small text-center">@record.Quantity</td>
                                    <td class="font-small text-center">@record.Price</td>
                                    <td class="font-small text-center">@record.Comment</td>
                                    <td class="font-small text-center">
                                        <div class="bg-warning text-white px-2 d-inline rounded-pill">@record.Status</div>
                                    </td>
                                    <td class="font-small text-center">
                                        <div class="bg-success text-white px-2 d-inline rounded-pill">@record.Type</div>
                                    </td>
                                    <td class="font-small text-center">@record.Date.ToString("yyyy-MM-dd")</td>
                                    <td class="fs-4 text-center">
                                        <i class="bi bi-x-square-fill text-danger"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>   
                
                
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
