@{
    ViewData["Title"] = "Monitoring";
}


@model List<OrderDisplayItem>

<div class="shadow-all-sides p-3 align-items-center d-flex flex-column gap-3">

    <div class="d-flex justify-content-between w-100">
        <div class="d-flex gap-2">
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Monitoring" asp-action="GallonHistory"
                style="border:none;">
                <i class="fs-6 bi-droplet"></i> 
                Dos Gallon History
            </a>
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Monitoring" asp-action="PosTransaction" 
                style="border:none; border-bottom: 2px solid #0d6efd">
                <i class="fs-6 bi-receipt"></i> 
                POS Transaction
            </a>
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Monitoring" asp-action="Credit"
                style="border:none">
                <i class="fs-6 bi-credit-card"></i> 
                Credit/Balanced
            </a>
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Monitoring" asp-action="TopCustomer"
                style="border:none">
                <i class="fs-6 bi-person-badge"></i> 
                Top Customer
            </a>
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Monitoring" asp-action="NeedDeliver"
                style="border:none">
                <i class="fs-6 bi-truck"></i> 
                Need Deliver 
                <div class="bg-danger font-extra-small text-white px-1 d-inline rounded-pill">10</div>
            </a>
        </div>

        <div class="d-flex gap-3">
            <i class="fs-5 bi-printer"></i> 
            <i class="fs-5 bi-arrow-clockwise"></i> 
            <i class="fs-5 bi-fullscreen"></i> 
        </div>
    </div>

    <form class="form-group d-flex flex-row gap-2 border  p-2 w-100" asp-controller="Monitoring" asp-action="POSTransaction" method="get">

        <div class="form-group flex-grow-1">
            <label class="fw-bold">Search</label>
            <input type="text" name="search" placeholder="Search by name" class="form-control"/>
        </div>

        <div class="form-group flex-grow-1">
            <label class="fw-bold">Barangay</label>
            <select id="filterBarangay"  name="selectedBarangayID" class="form-select">
                <option value="">All Barangay</option>
                @foreach (var barangay in ViewBag.BarangayList as SelectList)
                {
                    <option value="@barangay.Value">@barangay.Text</option>
                }
            </select>
        </div>

        <div class="form-group flex-grow-1">
            <label class="fw-bold">Date From</label>
            <input id="dateFrom" name="dateFrom" type="date" class="form-control"/>
        </div>

        <div class="form-group flex-grow-1">
            <label class="fw-bold">Date To</label>
            <input id="dateTo" name="dateTo" type="date" class="form-control"/>
        </div>

        <div class="d-flex flex-column">
            <label class="text-white">Filter</label>
            <button class="bg-primary text-white h-100 px-3 rounded"  style="border: none">
            <i class="fs-6 bi-funnel"></i> 
                Filter Record
            </button>
        </div>
        
    </form>

    <table class="table table-striped" style="width: 100%; table-layout: fixed;">
        <thead class="table-dark">
            <tr>
                <th class="font-small text-center" scope="col" style="width: 40px;">#</th>
                <th class="font-small text-center" scope="col">NAME</th>
                <th class="font-small text-center" scope="col">SERVICE</th>
                <th class="font-small text-center" scope="col">QUANTITY</th>
                <th class="font-small text-center" scope="col">FREE</th>
                <th class="font-small text-center" scope="col">TOTAL</th>
                <th class="font-small text-center" scope="col">UNPAID</th>
                <th class="font-small text-center" scope="col">STATUS</th>
                <th class="font-small text-center" scope="col">DATE</th>
                <th class="font-small text-center" scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var payment in Model)
                {
                    <tr>
                        <td class="font-small text-center">@payment.PaymentID</td>

                        <td class="font-small">
                            <div class="font-small">@payment.CustomerName</div>
                            <div class="font-extra-small">@payment.CustomerAddress</div>
                        </td>

                        <td class="font-small text-center">
                            <div class="bg-success text-white px-2 d-inline rounded-pill">@payment.Service</div>
                        </td>

                        <td class="font-small text-center">@payment.Quantity</td>
                        <td class="font-small text-center">@payment.Free</td>
                        <td class="font-small text-center">@payment.Total</td>
                        <td class="font-small text-center">@payment.Balanced</td>
                        <td class="font-small text-center">@payment.Status</td>
                        <td class="font-small text-center">@payment.Date.ToString("yyyy-MM-dd")</td>

                        <td class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    <i class="bi bi-gear"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="dropdown-item openActionHistoryModal" data-id="@payment.PaymentID">
                                            <i class="bi bi-clock-history"></i> History
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item" id="openActionHistoryModal">
                                            <i class="bi bi-x-lg"></i> Cancel
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="10" class="text-center text-muted">No items found.</td>
                </tr>
            }
        </tbody>

    </table>  

    <nav aria-label="Pagination">
        <ul class="pagination">
            <li class="page-item @(ViewBag.Window == 1 ? "disabled" : "")">
                <a class="page-link" 
                    asp-action="POSTransaction"
                    asp-route-page="@((ViewBag.StartPage - 5) > 0 ? ViewBag.StartPage - 5 : 1)"
                    asp-route-window="@(ViewBag.Window - 1)">
                    Previous
                </a>
            </li>

            @for (int i = ViewBag.StartPage; i <= ViewBag.EndPage; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                    <a class="page-link" 
                        asp-action="POSTransaction"
                        asp-route-page="@i"
                        asp-route-window="@ViewBag.Window"
                        asp-route-search="@ViewBag.Search">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(ViewBag.EndPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" 
                    asp-action="POSTransaction"
                    asp-route-page="@((ViewBag.EndPage + 1) <= ViewBag.TotalPages ? ViewBag.EndPage + 1 : ViewBag.TotalPages)"
                    asp-route-window="@(ViewBag.Window + 1)"
                    asp-route-search="@ViewBag.Search">
                    Next
                </a>
            </li>
        </ul>
    </nav>

</div>



<div id="actionHistoryContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openActionHistoryModal");
        const container = document.getElementById("actionHistoryContainer");

        button.forEach(button => {
            button.addEventListener("click", function (){
                const orderId = this.getAttribute("data-id");
                fetch(`/Monitoring/POSTransactionActionHistory?id=${orderId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal = document.getElementById("actionHistoryModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show();
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    });
                });
            });
        })
        
</script>


<!-- <div id="actionReturnContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openActionReturnModal");
        const container = document.getElementById("actionReturnContainer");

        button.addEventListener("click", function (){
            fetch("/Monitoring/ActionReturn")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("actionReturnModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
             });
         });
</script> -->