@{
    ViewData["Title"] = "System Settings";
}

@model AllBlue.Models.Settings

<form asp-controller="SystemSettings" asp-action="Index" method="POST" enctype="multipart/form-data" class="shadow-all-sides p-3 d-flex flex-column gap-3">
    <div class="d-flex justify-content-between border-bottom pb-2">
        <div class="d-flex gap-2">
            <i class="fs-6 bi-gear"></i> 
            System Settings
        </div>

        <i class="fs-5 bi-fullscreen"></i> 
    </div>

     @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show w-100 m-0" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show w-100 m-0" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="d-flex flex-row gap-4 w-100">

        <div class="d-flex flex-column align-items-center gap-2 p-2 border" style="width: 70%">

            <div class="form-group w-100">
                <label asp-for="Title" class="fw-bold">Title</label>
                <input type="text" asp-for="Title" class="form-control"/>
            </div>

            <div class="d-flex gap-2 w-100">
                <div class="form-group w-100">
                    <label asp-for="Footer" class="fw-bold">Footer</label>
                    <input type="text"  asp-for="Footer" class="form-control" />
                </div>
                <div class="form-group w-100">
                    <label asp-for="System" class="fw-bold">System</label>
                    <input type="text" asp-for="System" class="form-control" />
                </div>
            </div>

             <div class="d-flex gap-2 w-100">
                <div class="form-group w-100">
                    <label asp-for="Contact1" class="fw-bold">Contact 1</label>
                    <input type="text" asp-for="Contact1" class="form-control" />
                </div>
                <div class="form-group w-100">
                    <label asp-for="Contact2" class="fw-bold">Contact 2</label>
                    <input type="text" asp-for="Contact2" class="form-control" />
                </div>
                <div class="form-group w-100">
                    <label asp-for="Contact3" class="fw-bold" >Contact 3</label>
                    <input type="text" asp-for="Contact3" class="form-control" />
                </div>
            </div>

            <div class="d-flex flex-row gap-2 w-100">
                <div class="form-group flex-grow-1">
                    <label asp-for="Barangay_ID" class="fw-bold">Barangay</label>
                    <select asp-for="Barangay_ID"  class="form-select">
                       <option value="">All Barangay</option>
                        @foreach (var barangay in ViewBag.BarangayList as SelectList)
                        {
                            <option value="@barangay.Value">@barangay.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group flex-grow-1">
                    <label asp-for="City_ID" class="fw-bold">City</label>
                    <select asp-for="City_ID" class="form-select" >
                        <option value="">All City</option>
                        @foreach (var city in ViewBag.CityList as SelectList)
                        {
                            <option value="@city.Value">@city.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group flex-grow-1">
                    <label asp-for="Province" class="fw-bold">Province</label>
                    <input asp-for="Province" type="text" class="form-control"/>
                </div>
            </div>


            <div class="d-flex gap-2 w-100">
                <div class="form-group">
                    <label asp-for="ZipCode" class="fw-bold">Zip Code</label>
                    <input asp-for="ZipCode" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="fw-bold">Country</label>
                    <input asp-for="Country" type="text" class="form-control"/>
                </div>
            </div>

        </div>  

        <div class="p-2 border" style="width: 30%;">
            <div class="d-flex flex-column align-items-center border-bottom p-2 gap-1">
                <label asp-for="Favicon" class="fw-bold">Favicon</label>
                
                <div class="d-flex align-items-center gap-2 w-100">
                    <div style="background-color: #dee2e6; height: 50px; width: 50px; border-radius: 100px;">
                    </div>
                    <input asp-for="Favicon" type="file" class="form-control" style="width: 230px;">
                </div>
            </div>

            <div class="d-flex flex-column align-items-center border-bottom p-2 gap-1 w-100">
                <label asp-for="Logo" class="fw-bold">Logo</label>
                <div class="d-flex align-items-center gap-2 w-100">
                    <div style="background-color: #dee2e6; height: 100px; width: 100px;">
                    </div>
                    <input asp-for="Logo" type="file" class="form-control" style="width: 180px;">
                </div>
            </div>

            <div class="d-flex flex-column align-items-center border-bottom p-2 gap-1">
                <label asp-for="Banner" class="fw-bold">Banner</label>
                <div style="background-color: #dee2e6; height: 50px; width: 200px;">
                </div>
                <input asp-for="Banner" type="file" class="form-control" style="">
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-between align-items-center p-2 border w-100">
        <div class="d-flex gap-2 flex-grow-1">
            <div class="form-group">
                <label asp-for="DeliveryInterval" class="fw-bold">Delivery Interval (Days)</label>
                <input asp-for="DeliveryInterval" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="LocalAddress" class="fw-bold">Local Address</label>
                <input asp-for="LocalAddress" type="text" class="form-control"/>
            </div>
        </div>

        <button class="btn btn-primary text-white rounded w-auto p-2" style="border: none; height: fit-content">
            <i class="fs-6 bi-check me-1"></i>
            Upload Settings
        </button>

    </div>

</form>


