@{
    ViewData["Title"] = "Location City";
}

@model List<City>


<div class="d-flex flex-column gap-5">

    <div class="shadow-all-sides p-3 d-flex flex-column align-items-center gap-3">

        <div class="d-flex justify-content-between border-bottom pb-2 w-100">
            <div class="d-flex gap-2 align-items-center">
                <i class="fs-6 bi-building"></i> 
                Location
            </div>
            <i class="fs-5 bi-fullscreen"></i> 
        </div>


        <div class="d-flex gap-2 w-100">
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Location" asp-action="LocationCity"
                style="border:none; border-bottom: 2px solid #0d6efd">
                City
            </a>
            <a class="d-flex gap-2 px-3 align-items-center bg-white text-decoration-none text-black" 
                asp-controller="Location" asp-action="LocationBarangay" 
                style="border:none">
                Barangay
            </a>
        </div>
        <div class="d-flex flex-row justify-content-between w-100">

            <div class="d-flex flex-column">
                <button class="bg-primary text-white p-2 rounded" id="openAddCityModal" style="border: none">
                <i class="fs-6 bi-plus"></i> 
                    Add New City
                </button>
            </div>

            <form class="form-group d-flex flex-row" asp-controller="Location" asp-action="LocationCity" method="get">
                <input type="text" name="search" placeholder="Search by city" class="form-control" style="width: 300px;" required/>
                <button class="border bg-white">
                    <i class="bi bi-search"></i>
                </button>
            </form>

        </div>


        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show w-100 m-0" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show w-100 m-0" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        <table class="table table-striped" style="width: 100%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th class="font-small" scope="col" style="width: 100px;">#</th>
                    <th class="font-small" scope="col">NAME</th>
                    <th class="font-small text-center" scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @if (Model !=null && Model.Any())
                {
                    @foreach (var city in Model) {
                        <tr>
                            <td class="font-small" scope="row">@city.City_ID</td>
                            <td class="font-small">
                               @city.Name
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-gear"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-item openEditCityModal"  
                                                data-id="@city.City_ID">
                                                <i class="bi bi-pencil-fill"></i> Edit
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item openDeleteCityModal" 
                                                data-id="@city.City_ID">
                                                <i class="bi bi-trash-fill"></i> Delete
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                } else 
                {
                 <tr>
                    <td colspan="3" class="text-center text-muted">No City found.</td>
                 </tr>   
                }
            </tbody>
        </table>  


        <nav aria-label="City Pagination">
            <ul class="pagination">
                <li class="page-item @(ViewBag.Window == 1 ? "disabled" : "")">
                    <a class="page-link" 
                        asp-action="LocationCity"
                        asp-route-page="@((ViewBag.StartPage - 5) > 0 ? ViewBag.StartPage - 5 : 1)"
                        asp-route-window="@(ViewBag.Window - 1)"
                        asp-route-search="@ViewBag.Search">
                        Previous
                    </a>
                </li>

                @for (int i = ViewBag.StartPage; i <= ViewBag.EndPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" 
                            asp-action="LocationCity"
                            asp-route-page="@i"
                            asp-route-window="@ViewBag.Window"
                            asp-route-search="@ViewBag.Search">
                            @i
                        </a>
                    </li>
                }


                <li class="page-item @(ViewBag.EndPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link"
                        asp-action="LocationCity"
                        asp-route-page="@((ViewBag.EndPage + 1) <= ViewBag.TotalPages ? ViewBag.EndPage + 1 : ViewBag.TotalPages)"
                        asp-route-window="@(ViewBag.Window + 1)"
                        asp-route-search="@ViewBag.Search">
                        Next
                    </a>
                </li>
            </ul>
        </nav>

    </div>

</div>



<div id="addCityContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById("openAddCityModal");
        const container = document.getElementById("addCityContainer");

        button.addEventListener("click", function (){
            fetch("/Location/AddCity")
                .then(response => response.text())
                .then(html => {
                    container.innerHTML = html;
                    const modal = document.getElementById("addCityModal");
                    if(modal) {
                        const modalInstance = new bootstrap.Modal(modal);
                        modalInstance.show();
                    }
                })
                .catch(error => {
                    console.error("Error loading modal:", error);
                });
            });
        });
        
</script>


<div id="editCityContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openEditCityModal");
        const container = document.getElementById("editCityContainer");

        button.forEach(button => {
            button.addEventListener("click", function (){
                const cityId = this.getAttribute("data-id");

                fetch(`/Location/EditCity?id=${cityId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal = document.getElementById("editCityModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show();
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    });
                });
            });
        })
        
</script>


<div id="deleteCityContainer"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.querySelectorAll(".openDeleteCityModal");
        const container = document.getElementById("deleteCityContainer");

        button.forEach(button => {
            button.addEventListener("click", function (){
                const barangayId = this.getAttribute("data-id");

                fetch(`/Location/DeleteCity?id=${barangayId}`)
                    .then(response => response.text())
                    .then(html => {
                        container.innerHTML = html;
                        const modal = document.getElementById("deleteCityModal");
                        if(modal) {
                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show();
                        }
                    })
                    .catch(error => {
                        console.error("Error loading modal:", error);
                    });
                });
            });
        })
        
</script>






